:root {
    --dark-primary: #181818; 
    --light-primary: #efefef; 
  }

html {
    font-size: 14px; 
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    background-color: var(--dark-primary); 
    color: var(--light-primary); 
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

    html.light {
        background-color: var(--light-primary) !important; 
        color: var(--dark-primary) !important; 
    }

    html.light a {
        color: var(--dark-primary) !important; 
    }

body {
    font-size: 1.2em; 
    font-weight: 300; 
    line-height: 1.5em; 
    margin: 0px;
    margin-bottom: 16px; 
    /* padding: 8px 16px;  */

    min-height: 100vh; 
    height: auto; 

    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}


h2 {
    font-size: 1.2em; 
    font-weight: 500;
}

header {
    position: fixed;
    left: 0px; 
    top: 0px; 
    width: calc(100vw - 32px);
    padding: 8px 16px; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 

    background-color: var(--dark-primary); 
    border-bottom: 1px solid var(--light-primary); 

}

header.light {
    background-color: var(--light-primary); 
    border-bottom: 1px solid var(--dark-primary); 
}

header a, #social a{
    display: block; 
    color: var(--light-primary); 
    text-decoration: none;
    padding-top: 8px; 
}

    #settings span:hover, a:hover {
        cursor: pointer; 

        opacity: .6; 
    }

    #settings, #nav{
        display: flex; 
        height: 100%; 
        flex-direction: row;
        align-items: center;
        /* border: 1px solid blue;  */
        
    }

    #settings a, #settings span, #nav a{
        padding: 0px 8px; 
    }

    #nav a {
        padding: 0px; 
    }

#content {
    margin-top: 64px; 
    padding: 0px 16px;        
    display: flex; 
    flex-direction: column;
    width: 50vw; 
    min-width: 400px; 
    max-width: 700px; 

}

    #hello {
        padding-bottom: 8px; 
    }

    #resume-section {
        width: 100%; 
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        
    }

    #work, #side-projects {
        padding-right: 64px;
    }

footer {
    width: calc(100vw - 32px);
 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 16px; 
}


.spacing {
    height: 16px; 
}

/* @media only screen and (min-width: 768px) {
    #resume-section {
        border: 1px solid blue; 
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        
    }

} */